.market-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  padding: 20px;
}

.catalog-card {
  padding: 10px;
  background: #fff;
  .new-order {
    background-color: #890E4F;
    color: white;
    margin-top: 1rem;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 45px;
    text-align: center;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #2D3A3F;
}

.provider-input {
  width: 80%;
  padding: 10px;
  font-size: 1.5rem;
  .input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
  }
  .search {
    background-color: #890E4F;
    color: white;
    font-size: 1.5rem;
  }
}
