<mat-card class="purchase-card">
  <h2>Select products for the order</h2>

  <table mat-table [dataSource]="catalogItems" class="mat-elevation-z1">

    <ng-container class="table-purchase" matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
      <td mat-cell *matCellDef="let item">
        <mat-checkbox [(ngModel)]="selectedItems[item.id]"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container class="table-purchase" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>

    <ng-container class="table-purchase" matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let item">{{ item.brand }}</td>
    </ng-container>

    <ng-container class="table-purchase" matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let item">{{ formatPrice(item.unitPrice) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['select', 'name', 'brand', 'price']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['select', 'name', 'brand', 'price'];"></tr>
  </table>

  <button mat-raised-button class="mt-4" (click)="createOrder()">
    Create Order
  </button>
</mat-card>

