<div class="auth-container">
  <!-- Left section: Role selection and info -->
  <div class="register-section">
    <h2>Welcome back</h2>
    <p>Enter your personal details to use all the features of the platform</p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Select your role</mat-label>
      <mat-select>
        <mat-option value="store_owner">Liquor Store Owner</mat-option>
        <mat-option value="supplier">Supplier</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="sign-in-button" (click)="goToSignIn()">
      Sign up
    </button>

    <div class="security-logos">
      <img ngSrc="../../../../assets/ssl-icon.svg" alt="SSL" width="48" height="48"/>
      <img ngSrc="../../../../assets/recaptcha.svg" alt="reCAPTCHA" width="48" height="48"/>
    </div>
  </div>

  <!-- Right section: Registration form -->
  <div class="registration-form">
    <h2>Create Account</h2>
    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email address</mat-label>
        <input matInput type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" />
        <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm your password" />
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>


      <button mat-raised-button color="primary" class="register-button">
        Create account
      </button>

      <div class="divider">or</div>

      <div class="social-login">
        <button mat-icon-button>
          <img ngSrc="../public/google_icon.svg" alt="Google" width="48" height="48" />
        </button>
        <button mat-icon-button>
          <mat-icon>key</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
