<mat-card class="warehouse-card" appearance="outlined">
  <mat-card-header class="center-text">
    <mat-card-title>{{warehouse.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-header>
    <img [src]="warehouse.imageUrl" [alt]="warehouse.name" class="warehouse-image">
  </mat-card-header>
  <mat-card-content>
    <p>Location: {{warehouse.location}}</p>
    <p>Capacity: {{warehouse.capacity}}</p>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-flat-button class="action-button"> <mat-icon>edit</mat-icon> Edit</button>
    <button mat-flat-button class="action-button">Show</button>
  </mat-card-actions>
</mat-card>
