.table-wrapper {
  width: 1024px;
  margin: 50px auto;
}

.table-container {
  padding: 2rem 0
}

.zone-table {
  padding-top: 2rem;
}

table {
  width: 100%;
}

tr.editable-row {
  background-color: lightblue;
}
