<app-side-navbar>
  <div class="profile-container">
    <div class="profile-left">
      <div class="user-card">
        <div class="avatar-container">
          <div class="avatar">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 4a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4z" />
            </svg>
          </div>
        </div>
        <div class="user-info">
          <h2 class="user-name">{{ userData.name }}</h2>
          <p class="user-email">{{ userData.email }}</p>
          <button class="upload" (click)="uploadNewPhoto()">Subir nueva foto</button>
        </div>
      </div>
      <app-profile-edit></app-profile-edit>
    </div>
  </div>
</app-side-navbar>
