.spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  padding-left: 2rem;
  color: #6F0082;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  font-weight: Bold;
  font-size: 50px
}

.background {
  background-color: #F4EDE3;
  padding: 3rem;
}
