<div class="product-card">
  <div class="image-container">
    <img [src]="product.imageUrl" [alt]="product.name" class="product-image">
  </div>
  <div class="card-content">
    <h2 class="card-title">{{ product.name }}</h2>
    <!--<p><strong>{{ 'product.card.brand' | translate }}:</strong> {{ product.productBrand }}</p>-->
    <p><strong>{{ 'product.card.category' | translate }}:</strong> {{ product.productType }}</p>
    <p><strong>{{ 'product.card.quantity' | translate }}:</strong> {{ product.unitPrice }}</p>
    <p><strong>{{ 'product.card.price' | translate }}:</strong> {{ product.minimumStock }}</p>
  </div>
  <div class="action-buttons">
    <p><strong>{{ 'product.card.footer' | translate }}:</strong></p>
  </div>
</div>
