<div class="catalog-container">
  <h1 class="title">Catálogo de productos</h1>

  <mat-card class="catalog-header-card">
    <div class="catalog-header">
      <span class="catalog-info">Catálogo actual: <strong>[Catálogo Abril 2025]</strong></span>
      <div class="actions">
        <button mat-stroked-button color="primary">Publicar</button>
        <button mat-flat-button color="primary" class="new-catalog-button">Nuevo Catálogo</button>
      </div>
    </div>
  </mat-card>
  <app-catalog-list></app-catalog-list>
</div>

