
html, body { height: 100%; background-color: #F4EDE3; margin:0}
body { margin: 0; font-family: Roboto, "Poppins", sans-serif; background-color: #F4EDE3;}

html, body { height: 100%; background-color: #F4EDE3}
body { margin: 0; font-family: Roboto, "Poppins", sans-serif; background-color: #F4EDE3;}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: unset !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: inherit !important;
}



