<div class="warehouse-bg">

  <app-side-navbar/>
  <div class="warehouse-main">

    <app-tool-bar [titleKey]="'warehouse.title'"></app-tool-bar>

    <div class="warehouse-content">
      <div class="warehouse-management-content">
        <div *ngIf="warehouses.length === 0" class="empty-warehouses">
          <h3 class="empty-title">{{ 'warehouse.emptyTitle' | translate }}</h3>
          <p class="empty-description">{{ 'warehouse.emptyDescription' | translate }}</p>
        </div>

        <div *ngIf="warehouses.length > 0">
          <app-warehouse-list [warehouses]="warehouses"></app-warehouse-list>
        </div>
      </div>

      <button mat-fab extended
              color="primary"
              class="create-button"
              (click)="navigateToCreate()"
              aria-label="Create a new Warehouse">
        <mat-icon>add</mat-icon>
        {{ 'warehouse.create' | translate }}
      </button>
    </div>
  </div>
</div>
